In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("CarPrice.csv")

In [16]:
print(df[['car_ID', 'price']])

     car_ID  price
0         1  13495
1         2  16500
2         3  16500
3         4  13950
4         5  17450
..      ...    ...
200     201  16845
201     202  19045
202     203  21485
203     204  22470
204     205  22625

[205 rows x 2 columns]

In [23]:
object_columns = df.select_dtypes(include=["object"]).columns.tolist()
print(object_columns)

['CarName', 'fueltype', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'fuelsystem']

In [25]:

object_columns = df.select_dtypes(include=["object"]).columns.tolist()
# Read in the DataFrame

# Get a list of all column names

# Iterate through the list of columns
for col in object_columns:
  # Select all data values in the column
  values = df[col].tolist()
  
  # Iterate through the list of values
  for val in values:
    # Check if the first character of the value is lowercase
    if val[0].islower():
      # If it is, do nothing
      continue
    elif val[0].isnumeric():
        continue
    else:
      # If it isn't, print an error message
      print("Error: Value '{}' in column '{}' does not start with a lowercase letter.".format(val, col))

Error: Value 'Nissan versa' in column 'CarName' does not start with a lowercase letter.

In [32]:
df.isnull().sum()

car_ID            0
CarName           0
fueltype          0
doornumber        0
carbody           0
drivewheel        0
enginelocation    0
wheelbase         0
carlength         0
carwidth          0
carheight         0
curbweight        0
enginetype        0
cylindernumber    0
enginesize        0
fuelsystem        0
horsepower        0
citympg           0
highwaympg        0
price             0
dtype: int64

In [17]:
convertible = df.loc[df['carbody'] == 'convertible']

In [33]:
df.head()

,car_ID,CarName,fueltype,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,horsepower,citympg,highwaympg,price
0,1,alfa-romero giulia,gas,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,111,21,27,13495
1,2,alfa-romero stelvio,gas,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,111,21,27,16500
2,3,alfa-romero Quadrifoglio,gas,2,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6,152,mpfi,154,19,26,16500
3,4,audi 100 ls,gas,4,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4,109,mpfi,102,24,30,13950
4,5,audi 100ls,gas,4,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,3,136,mpfi,115,18,22,17450

In [51]:
df.loc[df['cylindernumber'] == 13]

Empty DataFrame
Columns: [car_ID, CarName, fueltype, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, horsepower, citympg, highwaympg, price]
Index: []

In [52]:
set(df['cylindernumber'])

{2, 3, 4, 5, 6, 8, 12}

In [27]:
df.loc[df['carbody'] == 'hardtop'].sum()['price']

177668

NameError: name 'df' is not defined